<h2>Login</h2>

<form asp-action="Login" method="post">
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" />
    </div>
    <button type="submit">Login</button>
</form>